Bye_Server/target/byeserver-0.0.1.jar
Bye_Server/target/byeserver-0.0.1.jar.original
Bye_Server/target/classes/application.yml
Bye_Server/target/classes/com/gpalex/byeserver/ByeServerApplication.class
Bye_Server/target/maven-archiver/pom.properties
Bye_Server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Bye_Server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Hello_Server/target/helloserver-0.0.1.jar
Hello_Server/target/helloserver-0.0.1.jar.original
Hello_Server/target/classes/application.yml 
Hello_Server/target/classes/com/gpalex/helloserver/HelloServerApplication.class
Hello_Server/target/maven-archiver/pom.properties
Hello_Server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Hello_Server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.vscode/settings.json
target/helloserver-0.0.1.jar
target/helloserver-0.0.1.jar.original
target/classes/com/gpalex/helloserver/HelloServerApplication.class
target/docker/build.timestamp
target/docker/gpalex/hellodockerbymaven/build/maven/helloserver-0.0.1.jar
target/docker/gpalex/hellodockerbymaven/tmp/docker-build.tar 
target/helloserver-0.0.1.jar
target/helloserver-0.0.1.jar.original
target/classes/application.yml
target/classes/com/gpalex/helloserver/HelloServerApplication.class
target/docker/build.timestamp
target/docker/gpalex/hellodockerbymaven/build/Dockerfile
target/docker/gpalex/hellodockerbymaven/build/maven/helloserver-0.0.1.jar
target/docker/gpalex/hellodockerbymaven/tmp/docker-build.tar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/helloserver-0.0.1.jar
target/helloserver-0.0.1.jar.original
target/classes/com/gpalex/helloserver/HelloServerApplication.class
target/docker/build.timestamp
target/docker/gpalex/hellodockerbymaven/build/maven/helloserver-0.0.1.jar
target/docker/gpalex/hellodockerbymaven/tmp/docker-build.tar
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
